product/app/VRSquare/VRSquare.apk
product/app/PayPay/PayPay.apk
product/app/ARSquare/ARSquare.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/MotCamera3/MotCamera3.apk
system/system/apex/com.android.vndk.current.apex
recovery.img
